/**/
.bg-color{
    background-color: #f2e7d3;
}
#map {
    height: 65vh;
    width: 100%;
    }
.graph{
    height: 70%;
    width: 100%;
}
.btn_center{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.btn_left{
  position: absolute;
  top: 95%;
  left: 20%;
  transform: translateY(-50%) translateX(-50%);
}
#red{
    color: #FFFFFF;
    background-color: #FF2F3F;
}
#orange{
    color: #FFFFFF;
    background-color: #FF8514;
}
#yerrow{
    background-color: #FFE714;
}
#ye_green{
    background-color: #B3F014;
}
#green{
    background-color: #09F014;
}

#graph-area{
    background-color: #f2e7d3;
    height: 80vh;
}
.tool-bar{
    background-color: #f2e7d3;
    color: #6f7f42;
    font-size: 90%;
}
.all-page{
    background-color: #6f7f42;
    height: 90vh;
}
#map-text{
    height: 10vh;
}

