/**/
#map {
    height: 450px;
    width: 100%;
    }
.btn_center{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.btn_left{
  position: absolute;
  top: 95%;
  left: 20%;
  transform: translateY(-50%) translateX(-50%);
}
#red{
    color: #FFFFFF;
    background-color: #FF2F3F;
}
#orange{
    color: #FFFFFF;
    background-color: #FF8514;
}
#yerrow{
    background-color: #FFE714;
}
#ye_green{
    background-color: #B3F014;
}
#green{
    background-color: #09F014;
}
